:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
    --small: font-size: calc(1rem + 1vmin);
    --medium: font-size: calc(1rem + 2vmin);
    --large: font-size: calc(1rem + 3vmin);
}

html {
    font-size: 100%;
}

body {
    background-color: var(--light);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

/* Fixing Tiger's overflow */

.card {
    padding: 10px;
    margin: 10px;
    justify-content: center;
    flex: 1;
}

img {
    width: 250px;
}

/* h1 {
    font-size: 2.25rem;
}

p {
    font-size: 0.75rem;
}   */

.species, .fav-foods, .birth-year, p {
	font-size: var(--small);
}

h2, .cat-name {
	font-size: var(--medium);
}

h1 {
	font-size: var(--large);
}

/* Media query for min-width: 700px */

@media screen and (min-width: 700px) {
    .species, .fav-foods, .birth-year, p {
    	font-size: calc(var(--small) + 1vmin);
    }
    
    h2, .cat-name {
    	font-size: calc(var(--medium) + 2vmin);
    }
    
    h1 {
    	font-size: calc(var(--large) + 3vmin);
    }
}

/* Media query for min-width: 1000px */

@media screen and (min-width: 1000px) {
    .species, .fav-foods, .birth-year, p {
    	font-size: calc(var(--small) + 2vmin);
    }
    
    h2, .cat-name {
    	font-size: calc(var(--medium) + 3vmin);
    }
    
    h1 {
    	font-size: calc(var(--large) + 4vmin);
    }
}

/* Media query for hiding cat ipsum on mobile */

@media screen and (max-width: 767px) {
    #cat-ipsum {
        display: none;
    }
}


/* Media query for dark mode */

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark);
        color: var(--light);
    }
}


